// Import some useful stuff

$animationDuration: 0.5s; // specify animation duration. Default value: 1s
@import "libraries/animate/vue2-animate.scss";

// Bootstrap and its default variables
@import 'libraries/bootstrap/bootstrap';
// BootstrapVue and its default variables
@import '../../../node_modules/bootstrap-vue/src/index.scss';

// Some google fonts
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Julius+Sans+One|Nunito:200,400&display=swapp');
.font-julius { font-family: 'Julius Sans One', sans-serif; }
.font-crimson { font-family: 'Crimson Text', serif; }
.font-nunito { font-family: 'Nunito', sans-serif; }

  // Custom styles
@import "components/nav";
@import "components/social";
@import "components/modal";
@import "components/loading";

@import "pages/home";
@import "pages/about";
@import "pages/career";
@import "pages/portfolio";
@import "pages/skills";
@import "pages/brands";
@import "pages/contact";

  body {
    background-color: #161616;
    font-family: 'Open Sans', sans-serif;
  }
